.book {
  position: relative;
  padding-top: 0;
  padding-bottom: 90px;
}
.book-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto; /* 중앙에 배치 */
}
.book-header {
  position: relative;
}
.book-title {
  position: relative;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  color: black;
  text-align: center;
}
.book-txt {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a0a7;
  text-align: center;
}

/* --------도서 카테고리 메인/카테고리/리스트----------- */
.book-main {
  position: relative;
  margin: 25px 0;
}
.book-category {
  position: relative;
  display: flex;
  justify-content: center;
}
.book-list {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
}
.book-list li {
  position: relative;
  gap: 4px;
}
.book-cate-bt {
  position: relative;
  display: block;

  padding: 0px 20px;
  line-height: 42px;
  border: 1px solid #e5e5e5;
  border-radius: 44px;
  cursor: pointer;
}
.book-cate-bt-active {
  position: relative;
}

/* --------슬라이드 사진----------- */
.book-slide-wrap {
  position: relative;
  margin-top: 23px;
  width: 1280px;
  height: 402px;
  background-color: red;
}
.book-slide-item {
  position: relative;
  height: 392px;
  overflow: hidden;
  background-color: aqua;
}
.book-link {
  position: relative;
}

.book-img {
  position: relative;
}

.book-img img {
  position: relative;
  width: 232px;
  height: 334px;
  overflow: hidden;
}

.book-info {
  position: relative;
}

.book-good-list {
  position: relative;
}
.book-good-info-tit {
  position: relative;
}
.book-good-info-price {
  position: relative;
}

.book-footer {
  position: relative;
  height: 76px;
  background-color: blue;
}

.book-footer-bt {
  position: relative;
  display: block;
  margin: 0 auto;
  /* margin-top: 20px; */
  padding-top: 20px;

  padding: 0 39px;
  line-height: 42px;
  width: 198px;
  height: 56px;
  border: 1px solid #e5e5e5;
  border-radius: 44px;

  font-size: 1.4rem;
  color: #111;
  font-weight: 400;
}
