.event {
  position: relative;
  padding: 0;
  padding-bottom: 90px;
}
.event-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.event-header {
  position: relative;
}
.event-title {
  position: relative;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 2.8rem;
  color: black;
  text-align: center;
}

.event-txt {
  position: relative;
  display: block;
  font-size: 1.7rem;
  color: #a7a9a7;
  text-align: center;
}

.event-slide-wrap {
  position: relative;
  height: 350px;
  background-color: antiquewhite;
}
